@font-face {
  font-family: 'IBM Sans';
  font-style: normal;
  font-weight: 100;
  src: local('IBM Sans'),
    url(~assets/fonts/IBMPlexSansArabic-Thin.ttf) format('trueType');
}

@font-face {
  font-family: 'IBM Sans';
  font-style: normal;
  font-weight: 200;
  src: local('IBM Sans'),
    url(~assets/fonts/IBMPlexSansArabic-ExtraLight.ttf) format('trueType');
}

@font-face {
  font-family: 'IBM Sans';
  font-style: normal;
  font-weight: 300;
  src: local('IBM Sans'),
    url(~assets/fonts/IBMPlexSansArabic-Light.ttf) format('trueType');
}

@font-face {
  font-family: 'IBM Sans';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Sans'),
    url(~assets/fonts/IBMPlexSansArabic-Regular.ttf) format('trueType');
}

@font-face {
  font-family: 'IBM Sans';
  font-style: normal;
  font-weight: 500;
  src: local('IBM Sans'),
    url(~assets/fonts/IBMPlexSansArabic-Medium.ttf) format('trueType');
}

@font-face {
  font-family: 'IBM Sans';
  font-style: normal;
  font-weight: 600;
  src: local('IBM Sans'),
    url(~assets/fonts/IBMPlexSansArabic-SemiBold.ttf) format('trueType');
}

@font-face {
  font-family: 'IBM Sans';
  font-style: normal;
  font-weight: 700;
  src: local('IBM Sans'),
    url(~assets/fonts/IBMPlexSansArabic-Bold.ttf) format('trueType');
}

@font-face {
  font-family: 'IBM Mono';
  font-style: normal;
  font-weight: 100;
  src: local('IBM Mono'),
    url(~assets/fonts/IBMPlexMono-Thin.ttf) format('trueType');
}

@font-face {
  font-family: 'IBM Mono';
  font-style: normal;
  font-weight: 200;
  src: local('IBM Mono'),
    url(~assets/fonts/IBMPlexMono-ExtraLight.ttf) format('trueType');
}

@font-face {
  font-family: 'IBM Mono';
  font-style: normal;
  font-weight: 300;
  src: local('IBM Mono'),
    url(~assets/fonts/IBMPlexMono-Light.ttf) format('trueType');
}

@font-face {
  font-family: 'IBM Mono';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Mono'),
    url(~assets/fonts/IBMPlexMono-Regular.ttf) format('trueType');
}

@font-face {
  font-family: 'IBM Mono';
  font-style: normal;
  font-weight: 500;
  src: local('IBM Mono'),
    url(~assets/fonts/IBMPlexMono-Medium.ttf) format('trueType');
}

@font-face {
  font-family: 'IBM Mono';
  font-style: normal;
  font-weight: 600;
  src: local('IBM Mono'),
    url(~assets/fonts/IBMPlexMono-SemiBold.ttf) format('trueType');
}

@font-face {
  font-family: 'IBM Mono';
  font-style: normal;
  font-weight: 700;
  src: local('IBM Mono'),
    url(~assets/fonts/IBMPlexMono-Bold.ttf) format('trueType');
}
